<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <img
        mat-card-sm-image
        [src]="
          sinhvien.sinhVien.hinhAnh
            ? 'http://localhost:8080/file/' + sinhvien.sinhVien.hinhAnh
            : 'http://localhost:8080/file/20230918201356_user.png'
        "
        alt="File Image"
      />
      <mat-card-title
        ><i> <u>Họ và tên sinh viên:</u> </i>
        {{ sinhvien.sinhVien.tenSV }}</mat-card-title
      >
      <mat-card-subtitle>
        <button
          class="mr-2 mt-2"
          mat-raised-button
          color="accent"
          (click)="openDialogThem()"
        >
          <mat-icon>add</mat-icon>
          Thêm công việc
          <!-- {{ "edit" | translate }} -->
        </button>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <!-- <table class="table">
      <thead>
        <tr>
          <th>{{ tuan.id_tuan }}</th>
          <th>gfg</th>
          <th>fsf</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td>sd</td>
          <td>fs</td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table> -->
    <table class="table mt-2">
      <thead>
        <tr>
          <th class="text-center" *ngFor="let column of displayedColumns">
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let congviec of ListCongViec">
          <td scope="row">{{ congviec.maCV }}</td>
          <td>{{ congviec.mota }}</td>
          <td>
            <div class="flex justify-content-center">
              <p-knob
                [(ngModel)]="congviec.tienDo"
                valueTemplate="{value}%"
              ></p-knob>
            </div>
          </td>
          <td>
            <!-- {{ congviec.trangThaiCV }} -->
            <p-tag
              *ngIf="congviec.trangThaiCV == 0"
              severity="info"
              [rounded]="true"
              value="Đã giao"
            ></p-tag>
            <p-tag
              *ngIf="congviec.trangThaiCV == 1"
              severity="warning"
              [rounded]="true"
              value="Đang thực hiện"
            ></p-tag>
            <p-tag
              *ngIf="congviec.trangThaiCV == 2"
              severity="success"
              [rounded]="true"
              value="Hoàn thành"
            ></p-tag>
            <p-tag
              *ngIf="congviec.trangThaiCV == 3"
              severity="danger"
              [rounded]="true"
              value="Chưa hoàn thành"
            ></p-tag>
          </td>
          <td>
            <div>
              <div class="btn">
                <mat-icon class="text-warning" (click)="openDialogSua(congviec)"
                  >edit</mat-icon
                >
              </div>
              <div class="btn">
                <mat-icon
                  class="text-success"
                  (click)="openDialogDuyet(congviec)"
                  >done</mat-icon
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100 text-danger" *ngIf="ListCongViec.length == 0">
      <p class="text-center">Chưa có công việc nào</p>
    </div>
    <!-- <mat-accordion> -->

    <!-- </mat-accordion> -->
  </mat-card-content>
  <mat-expansion-panel
    *ngIf="ListCongViec.length != 0"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="h5">
        Đánh giá
        <!-- {{ "search" | translate }} -->
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="myForm">
          <div class="my-2">
            <mat-form-field class="w-100">
              <mat-label>Đánh giá công việc</mat-label>
              <textarea
                matInput
                formControlName="Mota"
                placeholder="Vd: Tốt"
                [(ngModel)]="Mota"
                required
              ></textarea>
              <mat-error
                *ngIf="
                  myForm.get('Mota')!.invalid && myForm.get('Mota')!.touched
                "
                >Vui lòng nhập đánh giá công việc !!</mat-error
              >
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <!-- <button class="btn btn-primary mr-2" (click)="refreshSearch()">
            <mat-icon class="pt-1">refresh</mat-icon>{{ "refresh" | translate }}
          </button> -->
        <button class="btn btn-success float-right" (click)="danhgia(Mota)">
          <mat-icon class="pt-1">edit</mat-icon>
          Gửi đánh giá
          <!-- {{ "search" | translate }} -->
        </button>
        <!-- <button class="btn btn-info" (click)="exportData()">
            <mat-icon class="pt-1">arrow_downward</mat-icon> Export
          </button> -->
      </div>
      <div class="col-md-12 mt-2" *ngIf="ListDanhGia.length != 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Mã đánh giá</th>
              <th scope="col">Nội dung đánh giá</th>
              <th class="text-right" scope="col">Tuỳ chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let danhGia of ListDanhGia">
              <td>{{ danhGia.maDG }}</td>
              <td>{{ danhGia.noidungDG }}</td>
              <td>

                <button class="btn btn-danger float-right" (click)="xoadanhgia(danhGia.maDG)">Gỡ đánh giá</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-expansion-panel>
</mat-card>
