<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<div class="h-25 bg-success text-white head-from">
  <div class="row">
    <div class="col-11 mt-2">
      <h1 class="pl-4">
        Thay đổi cán bộ hướng dẫn
        <!-- {{ isEdit ? ("sualop" | translate) : ("themlop" | translate) }} -->
      </h1>
      <!-- <h1 class="p-2">{{ "addbasetype" | translate }}</h1> -->
    </div>
    <div class="col-1 mt-2">
      <b class="text-white h2" (click)="closedialog()">X</b>
    </div>
  </div>
</div>
<form [formGroup]="myForm">
  <div class="row my-3 m-2">
    <div class="col-md-12 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Chọn cán bộ hướng dẫn</mat-label>
        <mat-select formControlName="tenCB">
          <mat-option *ngFor="let canbo of danhSachCanBo" [value]="canbo.maCB">
            {{ canbo.tenCB }}
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="
            myForm.get('tenCB')!.invalid &&
            (myForm.get('tenCB')!.touched ||
              myForm.get('tenCB')!.value === null)
          "
        >
          Vui lòng chọn tên cán bộ hướng dẫn !!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row m-3">
  <div class="col-md-12 mt-2 mb-2">
    <button
      class="btn btn-success float-right ml-2"
      (click)="thaydoi(maSV, tenCB)"
    >
      Thay đổi
      <!-- {{ "add" | translate }} -->
    </button>
    <button class="btn btn-primary float-right" (click)="refreshForm()">
      {{ "refresh" | translate }}
    </button>
    <button class="btn btn-danger mr-2 float-right" (click)="closedialog()">
      {{ "close" | translate }}
    </button>
  </div>
</div>
