<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<h2 mat-dialog-title>Quên mật khẩu</h2>
<div
  class="m-4 mb-2 mt-2"
  *ngIf="message"
  [class]="'alert ' + (isError ? 'alert-danger' : 'alert-success')"
>
  {{ message }}
</div>
<mat-dialog-content>
  <form>
    <mat-form-field class="w-100">
      <input
        matInput
        placeholder="Nhập email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button mat-dialog-close class="mr-2">Hủy</button>
  <button mat-button color="primary" (click)="sendForgotPasswordRequest()">
    Gửi
  </button>
</mat-dialog-actions>
