<div class="mt-3">
  <div class="container">
    <div class="row">
      <div
        class="col-md-12 my-2 hihi"
        *ngFor="let sinhvien of sinhVienList"
      >
        <app-nhom-sinhvien [sinhvien]="sinhvien"></app-nhom-sinhvien>
        
        <table class="table">
          <thead>
            <tr>
              <th>{{ tuan.id_tuan }}</th>
              <th>gfg</th>
              <th>fsf</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"></td>
              <td>sd</td>
              <td>fs</td>
            </tr>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
