<div class="shadow p-2 mx-2 my-2 rounded">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-success m-0">Phân công công việc</h2>
      <!-- <h2 class="text-success m-0">{{ "Mgtype" | translate }}</h2> -->
      <p>Danh mục > Phân công công việc</p>
      <!-- <p>{{ "path" | translate }}</p> -->
    </div>
    <div class="col-md-2 mt-3">
      <button
        [disabled]="tuans.length >= 8"
        class="ml-3 bg-success text-white"
        mat-raised-button
        (click)="openDialogThem()"
      >
        <mat-icon>add</mat-icon>
        Thêm tuần
        <!-- {{ "add" | translate }} -->
      </button>
    </div>
  </div>
</div>
<div *ngIf="tuans.length != 0" class="mat-elevation-z8 p-2 m-2">
  <mat-tab-group>
    <mat-tab *ngFor="let tuan of tuans">
      <ng-template mat-tab-label>
        {{ tuan.ten_tuan }} <br />
        ({{ tuan.batdau }}) - ({{ tuan.hethan }})<mat-icon (click)="openDialogSua(tuan)">edit</mat-icon>
        <!-- Hiển thị tên của tuần làm tiêu đề của tab -->
      </ng-template>
      <app-congviec-sinhvien [tuan]="tuan"></app-congviec-sinhvien>
      <!-- Nội dung của từng tab -->

      <!-- Thêm nội dung khác tùy ý -->
    </mat-tab>
  </mat-tab-group>
</div>
<div class="center-content" *ngIf="tuans.length == 0">
  <h1>Chưa có tuần nào</h1>
  <button
    [disabled]="tuans.length < 8"
    class="ml-3 bg-success text-white"
    mat-raised-button
  >
    <mat-icon>add</mat-icon>
    Thêm tuần
    <!-- {{ "add" | translate }} -->
  </button>
</div>

