<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<div class="h-25 bg-success text-white head-from">
  <div class="row">
    <div class="col-11 mt-2">
      <h1 class="pl-4">
        {{ isEdit ? "Sửa công việc" : "Thêm công việc mới" }}
      </h1>
      <!-- <h1 class="p-2">{{ "addbasetype" | translate }}</h1> -->
    </div>
    <div class="col-1 mt-2">
      <b class="text-white h2" (click)="closedialog()">X</b>
    </div>
  </div>
</div>
<form [formGroup]="myForm">
  <div class="m-2 my-2">
    <mat-form-field class="w-100">
      <mat-label>Mô tả công việc</mat-label>
       <textarea matInput
        formControlName="Mota"
        placeholder="Vd: Tìm hiểu cơ quan"
        [(ngModel)]="Mota"
        required></textarea>
      <mat-error
        *ngIf="myForm.get('Mota')!.invalid && myForm.get('Mota')!.touched"
        >Vui lòng nhập mô tả công việc !!</mat-error
      >
    </mat-form-field>

  </div>
</form>
<div class="row m-3">
  <div class="col-md-12 mt-2 mb-2">
    <button
      class="btn btn-success float-right ml-2"
      *ngIf="!isEditMode"
      (click)="themCongViec(Mota)"
    >
      {{ "add" | translate }}
    </button>

    <button
      class="btn btn-success float-right ml-2"
      *ngIf="isEditMode"
      (click)="suaCongViec(id,Mota)"
    >
      {{ "edit" | translate }}
    </button>
    <button class="btn btn-primary float-right" (click)="refreshForm()">
      {{ "refresh" | translate }}
    </button>
    <button class="btn btn-danger mr-2 float-right" (click)="closedialog()">
      {{ "close" | translate }}
    </button>
  </div>
</div>
