.diamond {
  margin-top: 30px;
  margin-left: 90px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  background-color: red;
  transform: rotate(45deg);
  border: black;
  border-radius: 20px;
}
.diamond::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: 10%;
  left: 10%;
  transform: rotate(-45deg);
  width: 80%;
  height: 80%;
  background-image: url("../../assets/logo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.draw {
  font-weight: bold;
  width: 300px;
  height: 100%;
  background-color: rgb(0, 122, 27);
}
.example-spacer {
  flex: 1 1 auto;
}
.tab-bar {
  background-color: rgb(0, 122, 27);
  box-shadow: none;
}

.tab-bar:hover {
  background-color: rgb(0, 170, 37);
}

.child-bar:hover {
  background-color: rgb(46, 124, 63);
  padding: 5px;
}

.mmlm-item a {
  color: #ff5733;
}
