<mat-drawer-container class="h-100">
  <mat-drawer
    class="draw"
    mode="side"
    [opened]="isDrawerOpen"
    (closed)="(isDrawerOpen)"
  >
    <div class="container">
      <div class="bg-white diamond"></div>
      <h6 class="text-center text-white">
        {{ "brand" | translate }}
      </h6>
      <hr class="bg-white w-50" />
    </div>
    <div class="tab-bar text-white pl-4 p-2" [routerLink]="['/admin/']">
      <mat-icon class="mr-1">home</mat-icon> {{ "home" | translate }}
    </div>
    <mat-accordion>
      <mat-expansion-panel
        class="tab-bar"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="text-white">
            <mat-icon>receipt long</mat-icon>{{ "category" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Menu con 1 -->
        <p
          class="pl-5 text-white child-bar"
          [routerLink]="['/unit/ql-sinhvienthuctap']"
        >
          <mat-icon>pets</mat-icon>
          Danh sách sinh viên thực tập
          <!-- {{ "Base type" | translate }} -->
        </p>
        <p
          class="pl-5 text-white child-bar"
          [routerLink]="['/canbo/phancong-congviec']"
        >
          <mat-icon>maps</mat-icon>Phân công công việc
        </p>

        <!-- Menu con 4 -->
        <p class="pl-5 text-white child-bar" [routerLink]="['/admin/test']">
          <mat-icon>maps</mat-icon>thử nghiệm 1
        </p>

        <!-- Menu con 5 -->
        <p class="pl-5 text-white child-bar" [routerLink]="['/admin/province']">
          <mat-icon>maps</mat-icon>thử nghiệm 2
        </p>
        <p class="pl-5 text-white child-bar" [routerLink]="['/admin/file']">
          <mat-icon>maps</mat-icon>thử nghiệm 3
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-material-multilevel-menu [configuration]="config" [items]="menuItems">
      <ng-container *ngFor="let item of menuItems">
        <a [routerLink]="[item.link]">{{ item.label }}</a>
      </ng-container>
    </ng-material-multilevel-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="bg-white">
      <button
        (click)="closeDrawer()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-primary">{{ "title" | translate }}</span>
      <span class="example-spacer"></span>
      <button
        [routerLink]="['/admin']"
        mat-icon-button
        class="example-icon home-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>{{ loggedInUser?.name }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Thông tin cá nhân</button>
        <button
          mat-menu-item
          (click)="logout()"
          routerLinkActive="router-link-active"
        >
          Đăng xuất
        </button>
      </mat-menu>
      <button class="mr-2" mat-button [matMenuTriggerFor]="language">
        <img [src]="currentLanguageImage" alt="" width="30px" />
      </button>
      <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLanguage('vn')">
          <img src="../../assets/logo/vn.gif" alt="" width="30px" /> Tiếng việt
        </button>
        <button mat-menu-item (click)="changeLanguage('en')">
          <img src="../../assets/logo/en.png" alt="" width="30px" /> English
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <app-checktoken></app-checktoken>
</mat-drawer-container>
